{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>DigiMark Digital Marketing and Agency HTML Template</title>

    <!--favicon icon-->
    <link rel="icon" href="{% static 'img/favicon.png" type="image/png" sizes="16x16' %}">

    <!--google fonts-->
    <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans:400,600&display=swap"
          rel="stylesheet' %}">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!--Themify icon css-->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <!--animated css-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!--ytplayer css-->
    <link rel="stylesheet" href="{% static 'css/jquery.mb.YTPlayer.min.css' %}">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--responsive css-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<!--header section start-->
<header class="header">
    <!--topbar start-->
    <div id="header-top-bar" class="primary-bg py-2">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-7 col-lg-7 d-none d-md-block d-lg-block">
                    <div class="topbar-text text-white">
                        <ul class="list-inline">
                            <li class="list-inline-item"><span class="fas fa-headphones-alt mr-1"></span> 24x7 Technical Support</li>
                            <li class="list-inline-item"><span class="fas fa-phone-alt mr-1"></span> 883-4565-123456</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="topbar-text text-white">
                        <ul class="list-inline text-md-right text-lg-right text-left  mb-0">
                            <li class="list-inline-item">
                                <a href="index.html#" class="rounded"><span class="fab fa-facebook-f"></span></a>
                            </li>
                            <li class="list-inline-item"><a href="index.html#" class="rounded"><span
                                    class="fab fa-twitter"></span></a>
                            </li>
                            <li class="list-inline-item"><a href="index.html#" class="rounded"><span
                                    class="fab fa-linkedin-in"></span></a>
                            </li>
                            <li class="list-inline-item"><a href="index.html#" class="rounded"><span
                                    class="fab fa-dribbble"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--topbar end-->
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top white-bg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo-color.png" alt="logo" class="img-fluid"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">
                    <li><a href="index.html#" class="dropdown-toggle"> Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Page 01</a></li>
                            <li><a href="index-2.html">Home Page 02</a></li>
                            <li><a href="index-3.html">Home Page 03</a></li>
                            <li><a href="index-4.html">Home Page 04</a></li>
                            <li><a href="index-5.html">Home Page 05</a></li>
                            <li><a href="index-6.html">Home Page 06</a></li>
                            <li><a href="index-7.html">Home Page 07 <span class="badge badge-warning ml-2">New</span></a></li>
                        </ul>
                    </li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="index.html#" class="dropdown-toggle">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="index.html#" class="dropdown-toggle-inner">Login & Sign Up</a>
                                <ul class="sub-menu">
                                    <li><a href="basic-login.html">Login Page 1</a></li>
                                    <li><a href="login.html">Login Page 2</a></li>
                                    <li><a href="basic-sign-up.html">Signup Page 1</a></li>
                                    <li><a href="sign-up.html">Signup Page 2</a></li>
                                    <li><a href="password-reset.html">Reset Password</a></li>
                                    <li><a href="change-password.html">Change Password</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html#" class="dropdown-toggle-inner">Utilities</a>
                                <ul class="sub-menu">
                                    <li><a href="download.html">Download Page</a></li>
                                    <li><a href="review.html">Review Page</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                    <li><a href="thank-you.html">Thank You Page</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html#" class="dropdown-toggle-inner">Team</a>
                                <ul class="sub-menu">
                                    <li><a href="team.html">Our Team Members</a></li>
                                    <li><a href="team-single.html">Team Member Profile</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html#" class="dropdown-toggle-inner">Our Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-default.html">Blog Grid</a></li>
                                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-right-sidebar-2.html">Blog Right Sidebar 02</a></li>
                                    <li><a href="blog-single-left-sidebar.html">Details Left Sidebar</a></li>
                                    <li><a href="blog-single-right-sidebar.html">Details Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="project-details.html">Project Details </a></li>
                            <li><a href="services-details.html">Services Details</a></li>
                        </ul>
                    </li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="project.html">Case Study</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="index.html#" class="btn secondary-solid-btn check-btn">Free Check</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--header section end-->
